		body {
            margin: 0;
            font-family: Arial, sans-serif;
            background-color: #171216;
            color: #f1f1f1;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            min-height: 100vh;
        }
		.404 p {
			font-size: 16px;
            margin-bottom: 20px;
            color: #808080;
		}
		.404 h2 {
			font-size: 22px;
            margin-bottom: 15px;
			color: white;
		}
        .header {
            text-align: center;
            margin-bottom: 30px;
        }

        .header img {
            width: 60px;
        }

        .header h1 {
            font-size: 36px;
            margin: 20px 0;
        }

        .header p {
            font-size: 18px;
            margin-bottom: 40px;
        }
		.logo {
            position: fixed; /* Sticks the logo to the top left */
            top: 10px;       /* Adjusts the vertical position */
            left: 10px;      /* Adjusts the horizontal position */
            z-index: 1000;   /* Ensures it stays on top of other elements */
        }

        

        .container {
            display: flex;
            flex-wrap: wrap;
            justify-content: center;
            gap: 20px;
        }

        .card {
            background-color: #171216;
            border-radius: 10px;
			border: 0.5px solid #3b3439;
            padding: 16px;
            width: 380px;
            text-align: left;
			max-width: 90%;
        }

        .card h2 {
            font-size: 22px;
            margin-bottom: 15px;
			color: white;
        }

        .card p {
            font-size: 16px;
            margin-bottom: 20px;
            color: #808080;
        }

        .card button {
            padding: 7px 14px;
			font-size: 15px;
			border-radius: 5px;
			border: 1px solid #3b3439; /* Adds a 3px solid white border */
			background-color: transparent;
			color: #f1f1f1;
			cursor: pointer;
			float: left;
			transition: background-color 0.3s, color 0.3s;
			
        }
		
		.card button:hover {
			background-color: #3b3439;
		
        .theme-toggle {
            position: absolute;
            top: 20px;
            right: 20px;
            background-color: #252537;
            padding: 10px;
            border-radius: 50%;
            cursor: pointer;
        }

        .theme-toggle img {
            width: 24px;
            height: 24px;
        }
		.input-container {
			text-align: center;
}

#inputText {
    padding: 10px;
    font-size: 18px;
    border-radius: 5px;
    border: 1px solid #3b3439;
    background-color: #252537;
    color: #f1f1f1;
    outline: none;
}

#textOutput {
    margin-top: 20px;
    font-size: 36px;
    color: #f1f1f1;
    transition: transform 0.6s ease-in-out, opacity 0.6s ease-in-out;
}

.animate {
    animation: spinShrink 1s ease-in-out forwards;
}

@keyframes spinShrink {
    0% {
        transform: scale(1) rotate(0deg);
        opacity: 1;
    }
    100% {
        transform: scale(0) rotate(720deg);
        opacity: 0;
    }
}